@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.main, .comment{
    background-color: whitesmoke;
    margin: 48px;
}